.card-heroe {
    min-height: 220px !important;
}

.center-content {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



@media screen and (max-width:670px) {
    .card-img {
        height: auto;
    }

    .top-left-content {
        cursor: pointer;
        position: absolute;
        left: 97%;
        bottom: 0%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width:670px) {
    .card-img {
        height: 150px !important;
    }

    .top-left-content {
        cursor: pointer;
        position: absolute;
        left: 97%;
        top: 4%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}