<div class="modal-header">
    <h4 *ngIf="hero?.id" class="modal-title">Editar Héroe</h4>
    <h4 *ngIf="!hero?.id" class="modal-title">Crear Héroe</h4>
    <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')"></button>

</div>
<div class="modal-body">




    <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput />
    <div class="col-12 text-center">
        <button class="btn btn-light  text-center" (click)="fileInput.click()">
            Seleccionar nueva imagen

        </button>
        <img *ngIf="!hero.thumbnailEdit && hero.id" class="img-fluid text-center"
            [src]="hero.thumbnail?.path+'.'+hero.thumbnail?.extension">
    </div>

    <img *ngIf="hero.thumbnailEdit" class="img-fluid" [src]="hero.thumbnail">

    <div class="form-group mt-2">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="hero.name" placeholder="Ingresa nombre">
    </div>
    <div class="form-group mt-2">
        <label for="name">Descripción</label>
        <textarea rows="4" type="text" class="form-control" name="description" [(ngModel)]="hero.description"
            placeholder="Ingresa descripción">
        </textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-dark" [disabled]="!hero.name" (click)="save()" ngbAutofocus>Guardar</button>
</div>